body {
    background: #f4f6fb;
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}

.layout {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
}

.main-content {

    flex: 1;

    padding: 20px;

}

.dashboard-card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.75rem !important;
    color: #333;
}

h3 {
    font-size: 1.5rem !important;
}

.ms-3 h4 {
    font-size: 1.3rem !important;
}