<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>berryNovel - Thế giới truyện chữ</title>

    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/client/css/main.css}">

    <link rel="stylesheet" th:href="@{/client/css/navitigation.css}">

    <link rel="stylesheet" th:href="@{/client/css/font.css}">

    <style>
        .hotnovel {
            position: absolute;
            top: 8px;
            left: 8px;
        }
    </style>

</head>

<body>
    <!-- navbar -->
    <div th:replace="~{client/layout/navigation :: navbar}"></div>

    <div class="page-wrapper" style="padding-top: 50px;">
        <section class="hero container my-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h1 class="hero-title">
                        Read<br> Your Story
                    </h1>
                    <p class="text-muted mt-3">
                        BerryNovel – Your Story Starts Here
                    </p>
                    <button class="btn btn-danger mt-3 px-4">
                        Khám phá ngay
                    </button>
                </div>

                <div class="col-lg-7">
                    <img th:src="@{/images/hero/z7584053799537_3767597718be6ab6cea484a896630b62.jpg}"
                        class="img-fluid hero-img">
                </div>
            </div>
        </section>
        <!-- Novel section -->
        <section class="container my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fw-bold section-title">ORIGINAL</h4>
                <!-- <a th:href="@{/client/category}" class="text-muted">Xem thêm</a> -->
            </div>
            <div class="row g-4">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2" th:each="novel : ${novels}">
                    <a class="novel text-decoration-none" th:href="@{/novel/{id}(id=${novel.id},from='home')}">
                        <div class="card h-100 border-0 shadow-sm overflow-hidden" style="border-radius: 15px;">

                            <img th:src="@{/images/novel/{image}(image=${novel.image})}" class="card-img-top"
                                alt="Tên truyện">
                            <div class="hotnovel" style="">
                                <span th:if="${novel.hot != null and novel.hot.name() == 'HOT'}"
                                    class="badge bg-danger">HOT</span>
                            </div>
                            <div class="overlay">
                                <h6 class="mb-1 fw-bold text-white text-truncate" th:text="${novel.title}"></h6>

                                <small class="text-light" th:text="'Tác giả: ' + ${novel.author}"></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- Translated Novel section -->
        <section class="container my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fw-bold section-title">TRANSLATION</h4>
            </div>
            <div class="row g-4">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2" th:each="novel : ${translatedNovels}">
                    <a class="novel text-decoration-none" th:href="@{/novel/{id}(id=${novel.id},from='home')}">
                        <div class="card h-100 border-0 shadow-sm overflow-hidden" style="border-radius: 15px;">
                            <img th:src="@{/images/novel/{image}(image=${novel.image})}" class="card-img-top"
                                alt="Tên truyện">
                            <div class="hotnovel">
                                <span th:if="${novel.hot != null and novel.hot.name() == 'HOT'}"
                                    class="badge bg-danger">HOT</span>
                            </div>
                            <div class="overlay">
                                <h6 class="mb-1 fw-bold text-white text-truncate" th:text="${novel.title}"></h6>
                                <small class="text-light" th:text="'Tác giả: ' + ${novel.author}"></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- Completed Novel section -->
        <section class="container my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fw-bold section-title">COMPLETED</h4>
            </div>
            <div class="row g-4">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2" th:each="novel : ${completedNovels}">
                    <a class="novel text-decoration-none" th:href="@{/novel/{id}(id=${novel.id},from='home')}">
                        <div class="card h-100 border-0 shadow-sm overflow-hidden" style="border-radius: 15px;">
                            <img th:src="@{/images/novel/{image}(image=${novel.image})}" class="card-img-top"
                                alt="Tên truyện">

                            <div class="hotnovel">
                                <span th:if="${novel.hot != null and novel.hot.name() == 'HOT'}"
                                    class="badge bg-danger">HOT</span>
                            </div>

                            <div class="overlay">
                                <h6 class="mb-1 fw-bold text-white text-truncate" th:text="${novel.title}"></h6>
                                <small class="text-light" th:text="'Tác giả: ' + ${novel.author}"></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- <footer class="footer text-center py-4">
            <h4>© 2026 berryNovel</h4>
        </footer> -->
    </div>
    <footer class="footer text-center py-4">
        <h4>© 2026 berryNovel</h4>
    </footer>

    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/client/js/navitigation.js}"></script>

</body>

</html>