body {
    background: linear-gradient(135deg, #f6e1c3, #e9c9a8);
}

.page-wrapper {
    background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
    width: 65%;
    min-height: 100vh;
    padding: 40px 0;
    margin: auto;
}

.info-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.intro-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.intro-text {
    max-height: 120px;
    overflow: hidden;
    transition: 0.3s ease;
    text-align: justify;
    line-height: 1.8;
    color: #555;
}

.intro-text.expanded {
    max-height: max-content;
}

.fa-bookmark {
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.fa-bookmark:hover {
    font-size: 25px;
    color: #FFB6C1;
}

.chapter-box {
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.title {
    background-color: #e4caf1;
}

.list-chapter li {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #eee;
    align-content: center;
    display: flex;
}

.list-chapter li:hover {
    background-color: #c2bebe;
}

.chapter-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.chapter-name a {
    text-decoration: none;
    color: #555;
}

.chapter-time {
    right: 10px;
    top: 4px;
    white-space: nowrap;
}