#navbar {
    z-index: 9999;
    width: 100%;
}

.navbar {
    background-color: #FFFDF9;
    border-bottom: 1px solid #E8E1D6;
}

.nav-link {
    color: #555;
    font-weight: 500;
}

.nav-link:hover {
    color: #e74c3c;
}

.nav-link.active {
    color: #e74c3c;
}

#mainNavbar {
    transition: transform 0.35s ease, box-shadow 0.3s ease;

}

.navbar-hide {
    transform: translateY(-100%);
}

.headroom {
    transition: transform 0.3s ease;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}