<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/client/css/login.css}">

    <link rel="stylesheet" th:href="@{/client/css/logo.css}">

    <link rel="stylesheet" th:href="@{/client/css/main.css}">

    <link rel="stylesheet" th:href="@{/client/css/font.css}">
</head>

<body>
    <div th:replace="~{client/layout/logo :: logo}"></div>

    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/login}" th:object="${loginUser}" method="post">
            <div class="form-group">
                <input th:field="*{username}" type="text" id="username" placeholder=" ">
                <label for="username">Username</label>
            </div>

            <div class="form-group">
                <input th:field="*{password}" type="password" id="password" placeholder=" ">
                <label for="password">Password</label>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <!-- <script th:src="@{/client/js/logo.js}"></script> -->
</body>

</html>