<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/client/css/login.css}">

    <link rel="stylesheet" th:href="@{/client/css/logo.css}">

    <link rel="stylesheet" th:href="@{/client/css/main.css}">

    <link rel="stylesheet" th:href="@{/client/css/font.css}">
</head>

<body>
    <div th id="logo">
        <!-- <img src="https://www.svgrepo.com/show/404187/strawberry.svg" class="strawberry" alt="strawberry">
        <div class="berrynovel">berryNovel</div> -->
    </div>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Nhập username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Nhập password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="/src/main/resources/static/client/js/logo.js"></script>
</body>

</html>