<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="strawberry.css">
</head>
</head>

<body>
    <div class="logo">
        <img src="https://www.svgrepo.com/show/404187/strawberry.svg" class="strawberry" alt="strawberry">
        <div class="berrynovel">berryNovel</div>
    </div>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form action="/login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Nhập username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Nhập password">
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>