.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1000;
}

.strawberry {
    width: 34px;
    height: 34px;
}

.logo:hover {
    transform: rotate(-10deg) scale(1.05);
    transition: 0.3s;
}