<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Novel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="/src/main/resources/static/admin/css/novel/novel.css">

    <link rel="stylesheet" href="/src/main/resources/static/admin/css/novel/create.css">

    <link rel="stylesheet" href="/src/main/resources/static/admin/css/font.css">

    <link rel="stylesheet" href="/src/main/resources/static/admin/css/sidebar.css">
</head>

<body>

    <div class="layout">

        <!-- SIDEBAR -->
        <div id="sidebar"></div>

        <!-- MAIN -->
        <div class="main-content">

            <div class="create-user-card">

                <div class="form-header">
                    Create Novel
                </div>

                <form>

                    <div class="row">

                        <!-- NOVEL NAME -->
                        <div class="col-md-6 form-group">
                            <label>Novel name:</label>
                            <input type="text" class="form-control">
                        </div>

                        <!-- AUTHOR -->
                        <div class="col-md-6 form-group">
                            <label>Author:</label>
                            <input type="text" class="form-control">
                        </div>

                        <!-- STATUS -->
                        <div class="col-md-6 form-group select-role">
                            <label>Status</label>

                            <div class="select-wrapper">
                                <select class="form-control">
                                    <option>-----</option>
                                    <option>Ongoing</option>
                                    <option>Completed</option>
                                    <option>Dropped</option>
                                </select>

                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>

                        <div class="col-md-6 form-group select-role">
                            <label>Type</label>

                            <div class="select-wrapper">
                                <select class="form-control">
                                    <option>-----</option>
                                    <option>Translated</option>
                                    <option>Original story</option>
                                </select>

                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>

                        <!-- GENRE -->
                        <div class="form-group genre-group">

                            <label>Genre</label>

                            <div class="genre-box">

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Action">
                                    Action
                                </label>

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Drama">
                                    Drama
                                </label>

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Fantasy">
                                    Fantasy
                                </label>

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Mature">
                                    Mature
                                </label>

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Tragedy">
                                    Tragedy
                                </label>

                                <label class="genre-item">
                                    <input type="checkbox" name="genre" value="Magic">
                                    Magic
                                </label>

                            </div>

                        </div>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="form-group">

                        <label>Introduction:</label>

                        <textarea class="form-control" rows="5" placeholder="Enter novel introduction..."></textarea>

                    </div>

                    <!-- COVER IMAGE -->
                    <div class="form-group">

                        <label>Cover image:</label>

                        <div class="upload-box">

                            <i class="fa-solid fa-cloud-arrow-up upload-icon"></i>

                            <p>Upload cover image</p>

                            <input type="file">

                        </div>

                    </div>

                    <!-- BUTTON -->
                    <div class="submit-box">
                        <button type="submit" class="btn-create">
                            CREATE
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <script src="/src/main/resources/static/admin/js/sidebar.js"></script>

</body>

</html>