<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Novel Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/admin/css/novel/novel.css}">

    <link rel="stylesheet" th:href="@{/admin/css/font.css}">

    <link rel="stylesheet" th:href="@{/admin/css/sidebar.css}">
</head>

<body>

    <div class="layout">

        <!-- SIDEBAR -->
        <div th:replace="~{admin/layout/sidebar :: sidebar}"></div>


        <!-- MAIN CONTENT -->
        <div class="main-content">

            <div class="novel-card">

                <div class="novel-header">
                    Manager Novel
                </div>

                <a th:href="@{/admin/novel/create}" class="btn create-btn fw-bold">
                    Create Novel
                </a>

                <div class="table-wrapper">

                    <table class="table novel-table">

                        <thead>

                            <tr>
                                <th>ID</th>
                                <th>Novel Name</th>
                                <th>Author</th>
                                <th>UploaderID</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr th:each="novel : ${novels}">

                                <td th:text="${novel.id}"></td>

                                <td th:text="${novel.title}"></td>

                                <td th:text="${novel.author}"></td>

                                <td th:text="${novel.user?.id ?: '-'}"></td>

                                <td class="status" th:text="${novel.status ? 'Active' : 'Inactive'}"></td>

                                <td class="action">

                                    <button class="btn btn-view">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>

                                    <a th:href="@{/admin/novel/update/{id}(id=${novel.id})}" class="btn btn-edit">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>

                                    <form th:action="@{/admin/novel/toggle-status/{id}(id=${novel.id})}" method="POST"
                                        style="display:inline;">
                                        <button type="submit"
                                            th:classappend="${novel.status} ? 'btn-success' : 'btn-delete'"
                                            class="btn btn-toggle-status">
                                            <i th:classappend="${novel.status} ? 'fa-circle-check' : 'fa-circle-xmark'"
                                                class="fa-solid"></i>
                                        </button>
                                    </form>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>


                <!-- Pagination -->
                <div class="pagination-box">

                    <a class="page-btn disabled">«</a>

                    <a class="page-btn active">1</a>

                    <a class="page-btn disabled">»</a>

                </div>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>