<div th:fragment="sidebar" id="sidebar" class="sidebar">
    <h4 class="logo">Novel Admin</h4>
    <ul class="menu">
        <li class="">
            <a th:href="@{/admin/dashboard}">
                <i class="fa-solid fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="">
            <a th:href="@{/admin/user}">
                <i class="fa-solid fa-users"></i>
                <span>User</span>
            </a>
        </li>

        <li class="">
            <a th:href="@{/admin/novel}">
                <i class="fa-solid fa-book"></i>
                <span>Novel</span>
            </a>
        </li>

        <li class="">
            <a th:href="@{/admin/genre}">
                <i class="fa-solid fa-layer-group"></i>
                <span>Genre</span>
            </a>
        </li>
    </ul>
</div>