<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter</title>

    <link rel="stylesheet" href="/src/main/resources/static/client/css/main.css">

    <link rel="stylesheet" href="/src/main/resources/static/client/css/chapter.css">

    <link rel="stylesheet" href="/src/main/resources/static/client/css/font.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- <div id="navbar"></div> -->

    <div class="reading-page">
        <section class="rd-side-icons">
            <a class="rd_sd-button_item rd_top-left" href="#"><i class="fas fa-backward"></i></a>

            <a class="rd_sd-button_item" href="novel.html"><i class="fas fa-home"></i></a>
            <a id="rd-info-btn" class="rd_sd-button_item"><i class="fas fa-info"></i></a>
            <a class="rd_sd-button_item"><i class="fas fa-bookmark"></i></a>


            <a class="rd_sd-button_item rd_top-right" href="chapter1.html"><i class="fas fa-forward"></i></a>
        </section>

        <section class="rd_sidebar rdtoggle" aria-hidden="true">
            <main class="rdtoggle_body animation fade-in-left-big">
                <header class="rd_sidebar-header">
                    <a href="#" class="novel-image">
                        <img src="/src/main/resources/static/client/image/novel/Screenshot 2026-02-10 202954.png"
                            alt="Ảnh bìa">
                    </a>

                    <div class="rd_sidebar-name">
                        <h5>
                            <a href="novel.html">Yondome wa Iyana Shi Zokusei Majutsushi</a>
                        </h5>

                        <small>
                            <i class="fas fa-pen"></i>
                            Densuke
                        </small>
                    </div>
                </header>

                <ul id="chap_list" class="unstyled">
                    <li class="current-title">Vol.1: Khiên quốc Mirg</li>

                    <ul class="sub-chap_list unstyled">
                        <li class="current"> <a href="chapter.html"> Mở đầu: Hồi kết của kiếp đầu tiên và kiếp thứ hai
                            </a> </li>
                        <li> <a href="chapter1.html"> Chương 1: Sự khởi đầu của kiếp thứ ba </a> </li>
                        <li> <a href="#"> Chương 2: Chế độ khó khăn và sự cuồng nộ </a> </li>
                        <li> <a href="#"> Chương 3: Một hikimori 6 tháng tuổi </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                        <li> <a href="#"> Chương 4: Tình yêu dành cho mặt trời </a> </li>
                    </ul>
                </ul>
            </main>
        </section>

        <div class="black-click"></div>

        <div class="container">
            <div class="row">
                <div class="reading-content col-12 col-lg-10 offset-lg-1" style="word-wrap: break-word;">
                    <div class="title-top" style="padding-top: 20px;">
                        <h2 class="title-item text-xl font-bold text-center">
                            Vol.1: Khiên quốc Mirg
                        </h2>

                        <h4 class="title-item text-base font-bold text-center">
                            Mở đầu: Hồi kết của kiếp đầu tiên và kiếp thứ hai
                        </h4>
                    </div>

                    <div style="text-align: center; margin: 20px auto -20px auto;"></div>

                    <div id="chapter-content" class="long-text text-justify"
                        style="padding-left: 0px; padding-right: 0px;">
                        Con thuyền chở học sinh của trường trung học Yasaka trong chuyến đi thực tế đã bị chìm do bọn
                        khủng bố đánh bom. Trong tai nạn thương tâm này, một trăm linh hai thủy thủ đoàn và hành khách
                        đã thiệt mang, không tính bọn khủng bố.

                        "Ah, cái lạnh và vị mặn của nước biển đã biến mất. Như vậy có lẽ là mình đã chết rồi nhỉ"

                        Amamiya Hiroto cảm thấy chết lặng khi nhận ra rằng cậu đã chết. Lúc này cậu đang ở một nơi có
                        ánh sáng mờ nhạt cùng với rất nhiều người xung quanh. Có vẻ như đây không phải là sông Sanzu -
                        nơi có những cánh đồng hoa tuyệt đẹp trải dài bên bờ sông. Trông nó giống với lối vào để đến
                        thiên đường hơn.

                        Những người xung quanh cậu có rất nhiều phản ứng khác nhau khị họ nhận ra rằng họ đã chết – một
                        số người đã khóc, một số an ủi lẫn nhau và những người còn lại thì tỏ ra nhẹ nhõm khi nhận ra
                        người thân và bạn bè không ở đây với họ.

                        Hiroto cũng vậy, cậu cũng muốn khóc thật to rằng cậu cũng không muốn chết nhưng cậu không còn đủ
                        năng lượng để làm điều đó nữa.

                        “Haah… Vậy là cuối cùng mình đã chết một cách vô ích nhỉ”

                        Sở dĩ cậu nghĩ như vậy là bởi vì cậu nhìn thấy một bạn nữ cùng lớp ngồi cách cậu không xa. Tên
                        cô gái ấy là Naruse Narumi, cô là một “cây hài” của cả lớp và mọi người gọi cô ấy với biệt danh
                        là Naru. Hiroto đã liều mình để cứu cô gái ấy trước khi chết.

                        Khi con tàu chao đảo và bắt đầu lật úp, Narumi đã không kịp bám lấy tay vịn trên thành tàu.
                        Trong khoảnh khắc ấy, Hiroto đã vươn tay nắm lấy Narumi ngay lập tức và giúp cô bám lên thành
                        tàu. Nhưng điều đó làm cậu không thể bám vào tay vịn được nữa, cậu lăn lông lóc trên cái sàn dốc
                        nghiêng của con tàu, sau đó lưng cậu đập mạnh vào thành và cuối cùng rơi xuống biển và chết
                        chìm.

                        Sự việc diễn ra với tốc độ chóng mặt, cậu chỉ theo bản năng của mình và vươn tay cứu Narumi mà
                        không kịp suy nghĩ gì cả. Nghĩ lại về nó bây giờ, cậu thấy rằng mình đã thật liều lĩnh khi hành
                        động như thế. Kể cả vậy, nếu Narumi được cứu, cậu có lẽ có thể tự an ủi mình rằng ít nhất mình
                        đã giúp được ai đó. Nhưng…

                        “Haizz, mình nghĩ là mình đã hành động như là một người tốt trước khi mình chết” (Hiroto nghĩ
                        thầm)

                        Kể cả khi Hiroto chết, sẽ không có ai thương tiếc cho cậu. Cha mẹ của cậu đã rời xa cậu từ khi
                        cậu còn nhỏ và cậu cũng không có anh em họ hàng nào cả. Cậu và người chú bên họ của cha cậu cũng
                        không thân thiết lắm, dù rằng chú ấy là người đã nhận nuôi cậu. Ấn tượng mà cậu nhớ về người chú
                        ấy là một câu nói mà chú đã nói với cậu “Hãy cút khỏi nơi này ngay khi mày tốt nghiệp trung
                        học”. Hiroto cũng không có bất kỳ người bạn nào và cậu cũng không có cả bạn gái. Bây giờ, khi
                        cậu đã chết, người chú ấy có lẽ sẽ nhận khoản tiền thừa kế mà bố mẹ để lại cho cậu cũng như
                        khoản “tiền chia buồn” của chính phủ cấp sau cái chết của cậu, đó như là phần lương vì đã nhận
                        nuôi cậu. Trên thực tế, số tiền đó là quá đủ để trả cho chú ấy nếu xét đến thái độ ngược đãi và
                        sự phân biệt đối xử rõ ràng giữa cậu và người con ruột của chú ấy.
                        <!-- <p>Con thuyền chở học sinh của trường trung học Yasaka trong chuyến đi thực tế đã bị chìm do bọn
                            khủng bố đánh bom. Trong tai nạn thương tâm này, một trăm linh hai thủy thủ đoàn và hành
                            khách
                            đã thiệt mang, không tính bọn khủng bố.</p>
                        <p>"Ah, cái lạnh và vị mặn của nước biển đã biến mất. Như vậy có lẽ là mình đã chết rồi nhỉ"
                            Amamiya Hiroto cảm thấy chết lặng khi nhận ra rằng cậu đã chết. Lúc này cậu đang ở một nơi
                            có
                            ánh sáng mờ nhạt cùng với rất nhiều người xung quanh. Có vẻ như đây không phải là sông Sanzu
                            -
                            nơi có những cánh đồng hoa tuyệt đẹp trải dài bên bờ sông. Trông nó giống với lối vào để đến
                            thiên đường hơn.</p>
                        <p>Những người xung quanh cậu có rất nhiều phản ứng khác nhau khị họ nhận ra rằng họ đã chết –
                            một
                            số người đã khóc, một số an ủi lẫn nhau và những người còn lại thì tỏ ra nhẹ nhõm khi nhận
                            ra
                            người thân và bạn bè không ở đây với họ.</p>
                        <p>Hiroto cũng vậy, cậu cũng muốn khóc thật to rằng cậu cũng không muốn chết nhưng cậu không còn
                            đủ
                            năng lượng để làm điều đó nữa.</p>
                        <p>“Haah… Vậy là cuối cùng mình đã chết một cách vô ích nhỉ”</p>
                        <p>Sở dĩ cậu nghĩ như vậy là bởi vì cậu nhìn thấy một bạn nữ cùng lớp ngồi cách cậu không xa.
                            Tên
                            cô gái ấy là Naruse Narumi, cô là một “cây hài” của cả lớp và mọi người gọi cô ấy với biệt
                            danh
                            là Naru. Hiroto đã liều mình để cứu cô gái ấy trước khi chết.</p>
                        <p>Khi con tàu chao đảo và bắt đầu lật úp, Narumi đã không kịp bám lấy tay vịn trên thành tàu.
                            Trong khoảnh khắc ấy, Hiroto đã vươn tay nắm lấy Narumi ngay lập tức và giúp cô bám lên
                            thành
                            tàu. Nhưng điều đó làm cậu không thể bám vào tay vịn được nữa, cậu lăn lông lóc trên cái sàn
                            dốc
                            nghiêng của con tàu, sau đó lưng cậu đập mạnh vào thành và cuối cùng rơi xuống biển và chết
                            chìm.</p>
                        <p>Sự việc diễn ra với tốc độ chóng mặt, cậu chỉ theo bản năng của mình và vươn tay cứu Narumi
                            mà
                            không kịp suy nghĩ gì cả. Nghĩ lại về nó bây giờ, cậu thấy rằng mình đã thật liều lĩnh khi
                            hành
                            động như thế. Kể cả vậy, nếu Narumi được cứu, cậu có lẽ có thể tự an ủi mình rằng ít nhất
                            mình
                            đã giúp được ai đó. Nhưng…</p>
                        <p>“Haizz, mình nghĩ là mình đã hành động như là một người tốt trước khi mình chết” (Hiroto nghĩ
                            thầm)</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/src/main/webapp/resources/client/js/include.js"></script>

    <script src="/src/main/webapp/resources/client/js/logo.js"></script> -->

    <script src="/src/main/resources/static/client/js/chapter.js"></script>
</body>

</html>