<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Novel Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/admin/css/dashboard.css}">

    <link rel="stylesheet" th:href="@{/admin/css/font.css}">

    <link rel="stylesheet" th:href="@{/admin/css/sidebar.css}">

</head>

<body>

    <div class="layout">
        <div th:replace="~{admin/layout/sidebar :: sidebar}"></div>

        <!-- MAIN CONTENT -->
        <div class="main-content">

            <div class="container-fluid">

                <h2 class="mb-4 ">Dashboard</h2>

                <div class="row g-5">

                    <div class="col-md-6">
                        <div class="card dashboard-card">
                            <div class="card-body d-flex align-items-center">

                                <div>
                                    <i class="fa-solid fa-users fa-2x"></i>
                                </div>

                                <div class="ms-3">
                                    <h4>Users</h4>
                                    <h3 th:text="${userCount}">0</h3>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card dashboard-card">
                            <div class="card-body d-flex align-items-center">

                                <div>
                                    <i class="fa-solid fa-book fa-2x"></i>
                                </div>

                                <div class="ms-3">
                                    <h4>Novels</h4>
                                    <h3 th:text="${novelCount}">0</h3>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card dashboard-card">
                            <div class="card-body d-flex align-items-center">

                                <div>
                                    <i class="fa-solid fa-layer-group fa-2x"></i>
                                </div>

                                <div class="ms-3">
                                    <h4>Genres</h4>
                                    <h3 th:text="${genreCount}">0</h3>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card dashboard-card">
                            <div class="card-body d-flex align-items-center">

                                <div>
                                    <i class="fa-solid fa-fire fa-2x"></i>
                                </div>

                                <div class="ms-3">
                                    <h4>Hot Novels</h4>
                                    <h3 th:text="${hotNovelCount}">0</h3>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

    <!-- <script th:src="@{/admin/js/sidebar.js}"></script> -->

</body>

</html>